html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #151416;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* ⬅️ Убирает скролл */
}

a {
  color: rgb(221, 215, 247);
  font-family: "Reaver";
  font-size: 16px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

#LoadingTitle {
  position: absolute;
  color: rgb(231, 225, 255);
  font-family: "Reaver";
  letter-spacing: 2px;
  text-transform: uppercase;
}

#Background {
  position: absolute;
  /* top: 50%; */
  /* right: 0; */
  /* transform: translateY(-50%); */

  min-width: 100vw;
  min-height: 100vh;
  aspect-ratio: 21 / 9;
  object-fit: cover;
}

#Content {
  width: 80vw;
  max-width: 900px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.IsHidden {
    visibility: collapse;
  }

  > #GameLogo {
    width: 48vw;
    max-width: 360px;
    margin-bottom: 96px;
  }

  > #GameDescription {
    max-width: 520px;
    font-weight: semi-bold;
    font-size: 18px;
    text-align: center;
  }
}
